.carousel  {
  &.page-banner-slider {    
    position: relative;
    .carousel-inner {
      .item {        
        .carousel-caption {
          z-index: 10;
          right: 20%;
          left: 20%;
          padding-bottom: 40px;
        }

        img {                    
          min-width: 100%;          
        }
      }
    }
  }
}



.owl-carousel {
  .item {
    // height: 200px;
    background: #fff;
    padding:20px;
    display:table-cell;
    vertical-align: middle;

    img {
      // width: 80%;  
    }
  }

  &.owl-theme {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}