/**
 * Screen sizes
 */
/**
 * Scaffoding 
 */
/**
 * Typography Variables 
 */
/** normalization styles **/
/** typography **/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Raleway;
  font-weight: 900;
  line-height: 1.2em;
  color: #424242;
}

h1 small,
h1 .small, h2 small,
h2 .small, h3 small,
h3 .small, h4 small,
h4 .small, h5 small,
h5 .small, h6 small,
h6 .small,
.h1 small,
.h1 .small, .h2 small,
.h2 .small, .h3 small,
.h3 .small, .h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #424242;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 1.2em;
  margin-bottom: 0.6em;
}

h1 small,
h1 .small, .h1 small,
.h1 .small,
h2 small,
h2 .small, .h2 small,
.h2 .small,
h3 small,
h3 .small, .h3 small,
.h3 .small {
  font-size: 65%;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

h4 small,
h4 .small, .h4 small,
.h4 .small,
h5 small,
h5 .small, .h5 small,
.h5 .small,
h6 small,
h6 .small, .h6 small,
.h6 .small {
  font-size: 75%;
}

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 14px;
}

h6, .h6 {
  font-size: 12px;
}

/**
 * Body Text 
 */
p {
  margin: 0 0 0.6em;
}

.lead {
  margin-bottom: 1.2em;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4em;
}

@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}

/** general styles specific to elements **/
/** scafolding style for layouts **/
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #424242;
  background-color: #fff;
}

/** style related to current theme Section, Hero, Sidebar, Blog **/
.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  border-bottom: 1px solid #ddd;
  transition: all .3s ease-in-out;
}

.navbar-wrapper .navbar {
  height: 100px;
  margin-bottom: 0;
}

.navbar-wrapper .navbar .navbar-brand img, .navbar-wrapper .navbar .navbar-brand .brand-logo {
  height: 80px;
  transition: all .2s ease-in-out;
}

.navbar-wrapper .navbar .nav > li > a {
  color: #fff;
  padding-top: 45px;
  padding-bottom: 40px;
  transition: all .5s ease-in-out;
}

.navbar-wrapper .navbar .nav > li > a:hover, .navbar-wrapper .navbar .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.navbar-wrapper.affix {
  background-color: #fff;
}

.navbar-wrapper.affix .navbar {
  height: 50px;
}

.navbar-wrapper.affix .navbar .navbar-brand {
  padding: 10px;
}

.navbar-wrapper.affix .navbar .navbar-brand img, .navbar-wrapper.affix .navbar .navbar-brand .brand-logo {
  height: 40px;
}

.navbar-wrapper.affix .navbar .navbar-brand img path, .navbar-wrapper.affix .navbar .navbar-brand .brand-logo path {
  fill: #424242 !important;
}

.navbar-wrapper.affix .navbar .nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #424242;
}

.page-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-section .page-section-heading {
  font-family: 'Raleway';
  font-weight: 900;
}

.carousel.page-banner-slider {
  height: 500px;
  position: relative;
}

.carousel.page-banner-slider .carousel-inner .item {
  height: 500px;
}

.carousel.page-banner-slider .carousel-inner .item .carousel-caption {
  z-index: 10;
  right: 20%;
  left: 20%;
  padding-bottom: 40px;
}

.carousel.page-banner-slider .carousel-inner .item img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.owl-carousel .item {
  height: 200px;
  background: #fff;
  padding: 20px;
  display: table-cell;
  vertical-align: middle;
}

.owl-carousel .item img {
  width: 80%;
}

.owl-carousel.owl-theme {
  margin-top: 40px;
  margin-bottom: 40px;
}

/** styles specific to a page Home, Feedback **/
.home-services .col-sm-4, .home-services .col-sm-3 {
  text-align: center;
}
